* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}
html {
    font-size: 62.5%;
}
@media (max-width:800px) {
    html {
        font-size: 40%;
    }
}
/*hero*/ 
header {
    position: fixed;
    top:0 ;
    left: 0;
    right: 0;
}
.header-wrap {
padding: 1.5rem 1rem;
    width: 100%;
    display: flex;
    /* position: absolute; */
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;

}
.header-hg {
    /* position: absolute; */
    font-size: 2.5rem;
     font-family: "Laila", serif;
     text-align: center;
     line-height: 1;
     color: #FFFFFF;
     font-weight: 700;
}
@media (max-width:800px) {
    .header-hg {
        font-size:1.5rem ;
    }
    
}
.header-lists {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.4rem;

}
.header-list {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}
.nav-link:hover {
    text-decoration: underline;
    color: blue;
}
.header-star {
    display: inline-block;
    font-size: 2.5rem;
    color: rgb(255, 140, 0);
    margin-right: 5px;
}
.header-profile {
    display: inline-block;
    font-size: 3rem;
    color: #FFFFFF;
}

/*hero section*/
.hero {
    background-image: url(/assets/travel01.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    font-family: "Open Sans", sans-serif;
    /* position: absolute; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 10rem;
    flex-shrink: 1;
}
@media (max-width:1000px) {
    .hero {
        height: 50vh;
        width: 100%;
        background-image: url(/assets/travel\ 01.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
}
.hero-hg {
    font-size: 7.5rem;
    font-weight: 800;
    color: #FFFFFF;
    width: 80rem;
    text-align: center
}
@media (max-width:700px) {
    html {
        font-size: 30%;
    }
}
.hero-pg {
    font-size: 1.6rem;
    color: #FFFFFF;
    text-align: center;
}
.hero-btn {
    color: #FFFFFF;
    background-color:#00a651;
    border-radius: 7px;
    padding: 1rem 1.5rem;
    width: fit-content;
    border: none;
}
/*service section*/
.service-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    padding: 7rem 0;
    position: relative;
    width: 100%;
    /* background-color: #FFFFFF; */
    box-shadow: 2rem 0px 7rem #FFFFFF;
}
.service-container {
    display: flex;
    gap: 10rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.service-wrap {
background-color: #F9F9F9;
display: flex;
flex-direction: column;
flex-shrink: 1;
flex-wrap: wrap;
padding: 3rem;
gap: 2rem;
border-radius: 7.5px;

}
.service-wrap.middle {
    background-color: #FFFFFF;
    box-shadow: 0 0 7.5px rgba(189, 187, 187, 0.727);
}
.service-hg {
    font-size: 1.6rem;
}
.service-pg {
    font-size: 1.rem;
}

/* testimony sectionm */
.testimony-section {
    background-image: url(assets/world\ map\ 01.png);
    background-position: center;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    background-color: #0058530D;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    
}
@media (max-width:1000px) {
    .testimony-section {
        height: 60vh;
        gap: 4rem;
        width: 100%;
    }
}
@media (max-width:800px) {
    .testimony-section {
        height: 30vh;
        gap: 2rem;
    }
}
.testimony-hg {
    padding-bottom: 1.5rem;
    font-size: 3rem;
}
.testimony-pg {
    font-size: 1.2rem;
}
.testimony-card-container {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}
@media (max-width:660px) {
    .testimony-card-container {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        gap: 5rem;
    }
}
.testimony-card-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 7.5px;
    width:15rem;
    height: 15rem;
    gap: 10px;
    
    
}

/* destination */
.destinaion-section {
    padding: 3rem 0;
    z-index: 1;
}
.destinaion-hg {
    text-align: center;
    padding-bottom: 3rem;
}
.destinaion-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}
@media (max-width:1200px) {
    .destinaion-container {
         display: flex;
    justify-content: center;
    align-items: center;
    gap:20rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    }
}
.dot-container {
    background-image: url(assets/trave02.png);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    height:60rem;
    width: 55rem;
    position: relative;
    display: block;
    z-index: 0;
}
.destination-dot.one {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    
}
.destination-dot.two {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 65%;
    
}
.destination-dot.three {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 85%;
    left: 95%;
    
}
.destinaion-card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
     flex-shrink: 1;
    flex-wrap: wrap;
} 
.destinaion-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.destinaion01 {
    width: 18rem;
    height: 18rem;
}
.destinations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 0 5px rgb(237, 233, 233);
    flex-wrap: wrap;
    flex-shrink: 1;
}

/* packages section */
.packages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECF1F0;
    gap: 5rem;
    width: 100%;
    padding: 3rem 0;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: center;
}
.package-buttons-contrainer {
    display: flex;
    justify-content:center;
    gap: 5rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}
@media (max-width:700px) {
    .package-buttons-contrainer  {
        display: flex;
        flex-wrap: wrap;
    }
}
.package-button 
{
    display: inline-block;
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: #666666;
    color: #FFFFFF;
}
.package-button.down {
    display: block;
     background-color: #00A651;
     width: 15rem;
     height:4rem ;
     margin-top: 3rem;
}
.package-button:hover {
    background-color: #00A651;
}
.packages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-shrink: 1;
   
}
@media (max-width:1000px) {
    .packages-container {
    display: block;
    /* justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap; */

   
}
}
.package {
display: inline-block;
margin-top: 4rem;
}
.package {
    display: flex;
     position: relative;
     gap: 1rem;
     width: 100%;
     flex-wrap: wrap;
    flex-shrink: 1;
     /* overflow: hidden; */
} 
.package-pic {
    display: block;
    width:30rem ;
    height:30rem ;
}
.package-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     padding: 1.5rem;
    width: 30rem;
    top: 70%;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.package-pg-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 1;
    
}
.package-hg-left {
    display: flex;
    align-items: center;
}
.package-hg-left-size {
    font-size: 12px;
    font-weight: 600;
}
.package-hg-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.package-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* step-section */
.step-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding-top: 3rem;
     flex-shrink: 1;
     overflow: hidden;
}
.step-hg {
    text-align: center;
    padding-bottom: 7px;
}
.step-pg {
    font-size: 1.5rem;
    text-align: center;
}
.step-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    width: 100%;
   }
.steps {
    display: flex;
    flex-direction: column;
    gap: 5rem;
     /* margin-left: 15rem; */
     flex-shrink: 1;
}
@media (max-width:1300px) {
    .steps {
        display: flex;
        flex-shrink: 1;
        height: 39rem;
    }
}
.step {
    display: flex;
    gap: 3rem;
     
}
.steps-hg {
    font-weight: 550;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #5E6282;
}
.steps-pg {
    font-size:1.4rem;
    font-weight: 400;
    color: #5E6282;
}

/* about-section */
.about-section {
    background-color: #ECF1F0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 4rem 0;
    flex-shrink: 1;
}
.about-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
}
.about-img-middle {
    position: relative;
    display: flex;
    align-items: center;
}
#about-bird {
    position: absolute;
    display: block;
    top: 35%;
    left:105%;
}
.about-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 1rem; 
    background-color: #ffff; 
    width: 50rem;
    flex-shrink: 1;
}
.about-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 65%;
    flex-shrink: 1;
}
.about-card-pg {
    font-size: 1.5rem;
    display: inline-block;
    width: 40rem;
    text-align: center;
    padding-bottom: 1rem;
} 
#about-profile {
    position: absolute;
    bottom: 60%;
}

/* footer-section */
footer {
    display: flex;
    flex-direction: column;
    padding: 4rem ;
    gap: 5rem;
    flex-shrink: 1;
    width: 100%;
}
.footer-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    width: 100%;
}
@media (max-width:1100px) {
    #footer-top-box {
    width: 100%;
}
}

#footer-fly {
    position: absolute;
    top: 3rem;
    left: 110rem;
}
#footer-dots {
    position: absolute;
    top: 27rem;
    left: 107rem;
}

@media (max-width:1300px) {
    #footer-fly , #footer-dots {
        display: none;
    }
}
.footer-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 7rem;
    flex-shrink: 1;
}
.footer-subscribe {
    display: flex;
    position: relative;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.footer-input {
    display: inline-block;
    width: 30rem;
    height: 4rem;
    padding-left: 5rem;
    padding-right: 4rem;
    border: none;
}
::placeholder {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    
}
#dropdown {
    display: block;
    position: absolute;
    top: 16px;
    left: 8rem;
}
@media (max-width:900px) {
    #dropdown {
        display: none;
    }
}
.footer-form-button {
    display: inline-block;
    width: 14rem;
    height: 4.5rem;
    border-radius: 7px;
    background-color: #00A651;
    border: none;
    color: #FFFFFF;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-wrap: wrap;
    
}
.footer-down-hg {
     font-size: 2.5rem;
     font-family: "Laila", serif;
     text-align: center;
     line-height: 1;
     font-weight: 700;

}
.footer-down-right {
    display: flex;
    flex-shrink: 1;
    height: 19.1rem;
}

.footer-down-middle {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-shrink: 1;
}
.middle-lists {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-shrink: 1;

}
.middle-list {
    list-style: none;

}
.midddle-list-link {
    text-decoration: none;
    color: #5E6282;
}

.footer-bird {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 4px rgb(185, 181, 181);
    border-radius: 50%;
}